<footer class="py-5 text-white bg-dark text-center">
  <p>Copyright &copy; {{formatDate date 'YYYY'}}</p>
  <p>Made with <i class="fa fa-heart text-danger"></i> by Danny</p>
  <p>Powered by <a href="https://www.darksky.net" target="_blank">Darksky</a> and <a href="https://www.mapbox.com"
      target="_blank">Mapbox</a></p>
</footer>