<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#"><i class="fa fa-cloud fa-spin fa-fw text-primary"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home text-primary"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/weather"><i class="fa fa-refresh fa-spin text-primary "></i> Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fa fa-book text-primary"></i> About</a>
      </li>
    </ul>
  </div>
</nav>