<div class="row">
  <div class="col-md-6">
    <form action="/" method="post">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" placeholder="Enter Location">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>


<h1>Weather {{dailySummary}}</h1>
<p>The temperature is {{currently.temperature}}</p>

{{error}}